* {
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    padding-left: 5px;
}

#leftmenu {
    position: absolute;
    top: 30px;
    left: 185px;
}

#rightmenu {
    position: absolute;
    top: 30px;
    right: 30px;
}

#input {
    position: absolute;
    top: 130px;
    left: 25px;
}

.table {
    border-radius: 13px;
    width: 50%;
}

td {
    border-style: none;
}

#urlInput {
    position: relative;
    top: 100px;
    text-align: center;
}